@model Store.PresentationLayer.WebApplication.Models.ViewModels.RegisterViewModel

<div class="main-register-form">
    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "text-danger" })

        @Html.TextBoxFor(m => m.FirstName, new { @placeholder = "First name" })

        @Html.TextBoxFor(m => m.LastName, new { @placeholder = "Last name" })

        @Html.TextBoxFor(m => m.EmailAddress, new { @placeholder = "Email address" })

        @Html.PasswordFor(m => m.Password, new { @placeholder = "Password" })

        @Html.PasswordFor(m => m.ConfirmPassword, new { @placeholder = "Confirm Password" })

        @Html.TextBoxFor(m => m.Address, new { @placeholder = "Address" })

        @Html.TextBoxFor(m => m.PhoneNumber, new { @placeholder = "Phone number" })

        <input type="submit" value="Register" />
    }
</div>